.navigation {

  &__checkbox {
    position: fixed;
    top: 0;
    right: 0;
    height: 4rem;
    width: 4.5rem;
    display: none;

  }

  &__button {
    height: 4rem;
    width: 4.5rem;
    position: fixed;
    top: 0;
    right: 0;
    //background-color: lightgoldenrodyellow;
    z-index: 2000;

    text-align: center;
    cursor: pointer;
  }

  &__background {
    height: 4.5rem;
    width: 4.5rem;
    //background-color: lightblue;
    //background-color: #E9E6DF;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;

    transition: transfomr .8s;
  }

  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;

    //todo проблема
    opacity: 0;
    visibility: hidden;
    transition: transfomr .8s;
  }


  &__list {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1.5rem;
  }


  &__link {
    font-size: 2.5rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.5rem;
    color: #111;
  }

  //functionality
  &__checkbox:checked ~ &__background {
    transform: scale(80);
    background-color: #E9E6DF;
  }

  &__checkbox:checked ~ &__nav {
    visibility: visible;
    opacity: 1;
  }

  //three line icon
  &__icon {
    position: relative;
    top: 2rem;

    &,
    &::before,
    &::after {
      width: 2.5rem;
      height: 2.5px;
      left: 0;
      background-color: #111;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      transition: all .1s;
    }

    &::before {
      top: 0.5rem;
    }

    &::after {
      top: -0.5rem;
    }
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

}