.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__checkbox {
    position: fixed;
    top: 0;
    right: 0;
    height: 4rem;
    width: 4.5rem;
    opacity: 0;

    @media(min-width: 769px) {
      display: none;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 4.5rem;
    position: absolute;
    right: 0;
    z-index: 2000;
    cursor: pointer;

    @media(min-width: 769px) {
      display: none;
    }
  }

  &__background {
    height: 4.5rem;
    width: 4.5rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;

    transition: transfomr .8s;

    @media(min-width: 769px) {
      display: none;
    }
  }

  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;

    opacity: 0;
    visibility: hidden;
    transition: transfomr .8s;

    @media(min-width: 769px) {
      position: static;
      height: 3.75rem;
      opacity: 1;
      visibility: visible;
    }
  }


  &__list {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;

    @media(min-width: 769px) {
      height: 3.75rem;
      position: static;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  li {
    margin: 1.5rem;

    @media(min-width: 769px) {
      margin: 0;
    }
  }

  &__link {
    font-size: 2.5rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem;
    color: #111;


    @media(min-width: 769px) {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }

  //functionality
  &__checkbox:checked ~ &__background {
    transform: scale(80);
    background-color: #E9E6DF;
  }

  &__checkbox:checked ~ &__nav {
    visibility: visible;
    opacity: 1;
  }

  //three line icon
  &__icon {

    &,
    &::before,
    &::after {
      position: relative;
      width: 1.80rem;
      height: 2px;
      border-radius: 5px;
      //top: 35px;
      //right: 0;
      background-color: #be1e2c;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      transition: all .1s;
    }

    &::before {
      top: 0.5rem;
    }

    &::after {
      right: 0px;
      top: -0.5rem;
    }
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

}