.concerts-header {
  text-align: left;
  padding: 1rem;
  font-size: 1.25rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__archive{
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--color-light-grey_hex);
    border-bottom: 1px solid var(--color-light-grey_hex);
    padding: 0.2rem;
    cursor: pointer;
  }

}

.concerts {
  margin: 0 0.5rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__content {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    flex-basis: 100%;

    @media (min-width: 769px) {
      flex-basis: 50%;
      padding: 0 0.3rem;
      max-height: 400px;
      margin-bottom: 1rem;
    }
  }

  &__date-time{
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 150px;
    min-width: 100px;
    border-right: 1px solid var(--color-black-light);
  }

  &__day {
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-color-brick-red);
  }

  &__month {
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: var(--main-color-brick-red);
  }

  &__time{
    color: var(--main-color-brick-red);
  }
  &__information{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.5rem;
    font-size: 1.1rem;
    margin-left: 0.5rem;
    color: #212529;

    width: 250px;
    height: 180px;
  }

  &__title {
    font-size: 1.1rem;
    text-transform: capitalize;
  }

  &__description {
    padding: 0.3rem 0;
  }

  &__address {
    font-size: 1rem;
    color: var(--color-light-grey_hex);
    margin-bottom: 1rem;
  }

}