.contact-container {
  margin: 0 1rem;

  @media(min-width: 769px) {
    margin: 1.5rem;
  }
}
.contact-header{
  padding: 1rem 0;
  font-size: 1.7rem;
  text-transform: capitalize;
}
.group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__name {
    margin: 2px 0;
  }

  &__input {
    font-size: 1.2rem;
    height: 3rem;
    width: 100%;
    padding: 3px 3px;
    margin-bottom: 0.7rem;
    border: 0.1px solid var(--secondary-color-choco-brown);
    border-radius: 3px;
    outline: none;

  }

  &__input:focus {
    background-color: var(--color-light-grey);
    border: 2px solid var(--secondary-color-choco-brown);
  }

  &__message {
    font-size: 1rem;
    width: 100%;
    height: 250px;
    padding: 3px 3px;
    margin-bottom: 0.7rem;
    border: 0.1px solid var(--secondary-color-choco-brown);
    border-radius: 3px;
    outline: none;
  }

  &__message:focus {
    background-color: var(--color-light-grey);
    border: 2px solid var(--secondary-color-choco-brown);
  }

  &__submit {
    align-self: center;

    @media(min-width: 769px) {
      margin-top: 1rem;
    }
  }
}

.group-control{
  max-width: 500px;
  margin: 0 auto;
}

@media(min-width: 769px) {
    .header-center{
      text-align: center;
    }
}