.crew {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  color: #333;

  h2 {
    font-size: 1.25rem;
    padding: 1rem 0;
    text-transform: uppercase;
  }

  &__story {
    text-align: center;

    h3 {
      font-size: 1.25rem;
      padding: 0.5rem 0;
      text-transform: uppercase;
    }

    p {
      line-height: 1.5;
      padding: 0 0.5rem;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &__img{
    height: 200px;
    width: 100%;
  }

  &__info{
    text-align: left;
    padding: 1rem;
    background: rgba(233, 230, 223, 0.5);
    //box-shadow: rgba(0, 0, 0, 0.1);
  }
  &__name {
    font-size: 1.25rem;
    text-align: left;
  }

  &__instrument {
    text-transform: uppercase;
    padding: 0.5rem 0;
    text-align: left;
  }

}