.content {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 1201px) {
    background-image: url("https://picsum.photos/id/1082/1000/1300");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
    width: 100%;
  }


  &__text {
    text-align: center;

    @media (min-width: 1201px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    img {
      @media (min-width: 768px) and (max-width: 1200px) {
        width: 650px;
        height: 300px;
      }

      @media (min-width: 500px) and (max-width: 767px) {
        width: 550px;
        height: 250px;
      }

      @media (min-width: 1201px) {
        height: 0;
        width: 0;
      }

    }

    h1 {
      margin: 0.3rem 1rem;
      font-size: 2.75rem;
      font-weight: 800;
      color: var(--main-color-brick-red);
      z-index: 3000;

      @media (min-width: 1201px) {
        margin: 1rem;
        font-size: 3.5rem;
        color: var(--color-white);

        .deco-one {
          color: var(--main-color-brick-red);
        }
      }
    }

    p {
      font-size: 1.80rem;
      margin: 0 1rem 0.5rem 1rem;
      color: var(--secondary-color-choco-brown);

      @media (min-width: 1201px) {
        margin: 1rem;
        font-size: 2.5rem;
        padding: 0.8rem;

        background-color: var(--color-white);
        border-radius: 1px;
        opacity: 0.7;

        .deco-one {
          color: var(--main-color-brick-red);
          font-weight: bold;
          font-style: italic;
        }
      }
    }
  }
}

.margin-top {
  margin: 2rem 0;

  @media (min-width: 1201px) {
    margin: 2.5rem;
  }

}
