.list-items {
  margin: 0 0.5rem;

  .item-box {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    border-bottom: 0.5px solid var(--color-black);

    img {
      width: 160px;
      height: 90px;
    }

    .item-text {
      padding-left: 0.5rem;
      text-align: left;

      a {
        color: var(--link-color);
      }

      h3 {
        font-size: 0.85rem;
        text-transform: uppercase;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      p {
        padding: 0.3rem 0;
        line-height: 1.5;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @media(min-width: 769px) {
          -webkit-line-clamp: 3;
        }
      }
    }
  }

}
