.container {
  margin: 3.5rem 1rem 0 1rem;

  @media(min-width: 769px){
    margin-top: 0;
  }

  &__content {
    display: flex;
    flex-direction: row;
    padding: 1rem 0 1rem 0;
    border-bottom: 0.5px solid #111;
  }

  &__image {
    width: 160px;
    height: 90px;
    margin-right: 0.7rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 0.5rem;

    a{
      text-decoration: none;
      color: #2466AE;
    }

    h3 {
      font-size: 0.85rem;
      text-transform: uppercase;
      margin-bottom: 0.2rem;

      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    p {
      line-height: 1.4;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @media(min-width: 769px){
        -webkit-line-clamp: 3;
      }
    }

  }
}