.container {
  margin: 2rem;

  &__content {
    display: flex;
    flex-direction: row;
    padding: 1rem 0 1rem 0;
    border-bottom: 0.5px solid #111;
  }

  &__image {
    width: 120px;
    height: 120px;
    margin-right: 0.7rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 0.5rem;
    h3 {
      font-size: 0.90rem;
      text-transform: uppercase;
      margin-bottom: 0.4rem;
    }

    p {
      line-height: 1.4;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

  }


}