.news-page {
  background-color: var(--color-white-paper);
}

.news__header {
  text-align: center;
  padding: 0.5rem 1rem;
}

.news {
  margin: 0 0.5rem;

  &__content {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__title {
    padding: 1.25rem;
    background-color: var(--main-color-brick-red);
    font-size: 1.5rem;
    flex-basis: 50%;
    color: var(--color-white-paper);
  }

  &__description {
    padding: 1.25rem;
    font-size: 1.1rem;
    text-align: left;
    flex-basis: 50%;
    background-color: white;
    color: var(--secondary-color-choco-brown);
  }

  &__details-box {
    background-color: var(--secondary-color-choco-brown);
    color: var(--color-crem-white);
    padding: 1.3rem;
  }

  &__date-time {
    font-size: 1.75rem;
  }

  &__address {
    padding-top: 0.5rem;
    font-size: 1rem;
  }
}