.header-wrapper {
  width: 100%;
  //background-color: red;
  box-shadow: 1px 1px 1px var(--secondary-color-brown-rgba);
  //background-color: var(--color-white);
}

.header {
  width: 100%;
  //box-shadow: 1px 1px 1px var(--secondary-color-brown-rgba);
  //background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  z-index: 1000;

  position: fixed;
  top: 0;
  left: 0;

  .logo__wrapper {
    @media(min-width: 769px) {
      padding: 0;
    }
  }

  @media(min-width: 769px) {
    position: static;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin: 0.5rem;
    z-index: 10000;
  }
}