.header {
  width: 100%;
  padding: 1.25rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  color: #111;
  z-index: 1000;

  position: fixed;
  top: 0;
  left: 0;

  a {
    display: flex;
  }



  @media(min-width: 769px) {
    position: static;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    z-index: 10000;
  }
}