.header {
  height: 4.2rem;
  width: 100%;
  //background-color: rgba(207, 204, 214, 0.99);
  background-color: white;
  display: flex;
  justify-content: flex-start;
  padding: 1.25rem;
  color: #111;
  z-index: 1000;

  position: fixed;
  top: 0;
  left: 0;

  @media(min-width: 769px) {
    position: static;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  &__logo{
    position: relative;
  }

  &__icon{
    height: 45px;
    width: 45px;
    border-radius: 5px;
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 10000;
  }
}