.social {
  width: 100%;
  padding: 1.5rem;

  &__icons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
    }
  }

  &__item {
    margin: 0 0.3rem;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    cursor: pointer;

    a {
      text-decoration: none;
    }

    &--instagram {
      background-image: url("./../../assets/instagram.svg");
      background-color: #bc2a8d;
      background-size: 76%;
      background-position: center;
      background-repeat: no-repeat;
    }

    &--vk {
      background-image: url("./../../assets/vk.svg");
      background-color: #4c75a3;
      background-size: 76%;
      background-position: center;
      background-repeat: no-repeat;
    }

    &--youtube {
      background-image: url("./../../assets/youtube.svg");
      background-color: #c4302b;
      background-size: 80%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }


}