* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    padding-top: 60px;
}

@media (min-width: 769px) {
    .App {
        padding-top: 0;
    }
}

.btn {
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #be1e2c;
    color: #f4f4f4;
    outline: none;
}

.responsive-container {
    max-width: 1200px;
    margin: 0 auto;
}

.main-header{
    font-size: 1.25rem;
    text-transform: uppercase;
}

.secondary-header{
    font-size: 1.20rem;
    text-transform: uppercase;
    padding: 0.7rem 0;
}