* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color-brick-red: #AD2118;
    --color-brick-red-bnt-hover:#9F1924;
    --secondary-color-choco-brown: #451400;
    --secondary-color-brown-rgba: rgba(70, 21, 0, 0.5);
    --color-white: #f4f4f4;
    --color-crem-white: #E9E6DF;
    --color-white-paper: #F2F2F2;
    --color-black: #111;
    --color-light-grey: rgba(233, 230, 223, 0.4);
    --instagram-color: #bc2a8d;
    --vk-color: #4c75a3;
    --youtube-color: #c4302b;
    --link-color: #2466AE;
}

.App {
    padding-top: 60px;
}


.btn {
    width: 250px;
    padding: 0.8rem 1rem;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: var(--main-color-brick-red);
    color: var(--color-white);
    outline: none;
    cursor: pointer;
}

.bnt-contact {
    padding: 0.7rem 1rem;
}

.bnt-contact:hover {
    background-color: var(--color-brick-red-bnt-hover);
}

.responsive-container {
    max-width: 1200px;
    margin: 0 auto;
}

.main-header {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.secondary-header {
    font-size: 1.20rem;
    text-transform: uppercase;
    padding: 0.7rem 0;
}

.text-highlight {
    color: var(--main-color-brick-red);
}